/*Converted to fit with bootstrap*/

header{
	background-color: #ffffff;
}

a{
	color: #cccccc;
}

footer{
	position: fixed;
	bottom: 0px;
  	background: #666666;
  	color: white;

  	border-top-width: 5px;
	border-color: #4aaaa5;
	border-style: solid none none none;

  	height: 100px;
  	width: 100%;
  	font-size: 14px;
  	text-align: center;
  	line-height: 100px;

  	z-index: 3;
}


h1{
	margin: 3% 8% 3% 8%;
	text-align: left;
}

h2{
	font-size: 24px;
	margin: 5% 8% 3% 8%;
	text-align: left;
}

button{
 	background-color: #4aaaa5;
 	width: 100px;
 	height: 40px;
  	color: white;
  	font-size: 18px;
  	border-style: none;
}

form{
	margin-bottom: 3%;
	padding: 0%;
}

#header{
	border-bottom-width: 2px;
	border-color: #cccccc;
	border-style: none none solid none;
}

#nameDiv{
	background-color: #4aaaa5;

	font-size: 24px;
	height: 100px;
	color: white;
	text-align: center;
	line-height: 100px;
}


#container {
	width: 960px;
}

#container p{
	margin: 3% 8% 3% 8%;
	text-align: left;
	color: #777777;
}


/*I made two borders to see about getting symmetrical lines between the links but gave up because it kept extending to the entire size of the div,
even when I added another div inside it to try to regulate the line-height but then it wouldn't center with the box. I figured a vertical image might work
but didn't want to try it with sizing and positioning and whatnot.*/
/*.twoBorders {
  	border-color: #cccccc;
  	border-width: 1px;
	border-style: none solid none solid;
	line-height: 100px;
}*/

.headerFont{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.bodyFont{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#navLinks{
	float: right;
	height: 100px;
	display: inline;
	text-align: center;
	line-height: 100px;

	/*margin-top: 25px;*/
}

#navLinks a{
	vertical-align: center;
	text-align: center;
	line-height: 100px;
	/*display: inline-block;
  	margin-left: 15px;
  	padding-left: 15px;
  	color: #999;
  	text-decoration: none;
  	line-height: 18px;
  	border-left: 1px solid #efefef;*/
}

.bodyFont{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.padSomething{
	padding: 5px 5px 5px 0px;
}

.hrSmall{
	margin: 0% 8% 3% 8%;
	height: 5px;
	opacity: 1.0;
}

.hrBig{
	margin: 0% 8% 0% 8%;
	height: 2px;
	color: #cccccc;
	background-color: #cccccc;
	opacity: .7;
}

.divBorder{
	border-color: #cccccc;
	border-width: 2px;
	border-style: solid;
}

.aboutMeDiv{
	width: 650px;
	background-color: white;
	margin-top: 5%;
}

.tealFont{
	color: #4aaaa5;
	text-align: left;
}

#connectWithMe{
	width: 270px;
	float: right;
	background-color: white;
	margin-top: 5%;
}

#thumbs {   
}

#thumbs img{
	width: 100%;
	height: 100%;
}

.noPadding{
	padding: 0 !important;
}

/*This is the styling for the imgs in the divs of the Portfolio section*/
#portfolioRow img{
	width: 100%;
	opacity: 0.5;
	padding: 3%;
}

/*This is the styling for the HOVER effect on the imgs in the divs of the Portfolio section*/
#portfolioRow img:hover{
	width: 100%;
	opacity: 1.0;
	padding: 3%;
}

#portfolioRow{
}


#portfolio a{
	padding: 3%;
	
}

/*This is the styling of the labels on the photos on the Portfolio section*/
.BoxesDiv{
	position: absolute;
  	width: 100%;
  	height: 60px;
  	top: 60%;

	color: white;
  	font-size: 20px;
  	text-align: center;
  	line-height: 60px;
  
  	background-color: #4aaaa5;
  	z-index: 1;
}

#myForm {
	padding: 0%;
}


#myForm input{
  	padding: 8px 8px 8px 8px;
  	width: 100%;
  	font-size: 14px;
  	color: #595959;
}

#myForm textarea{
	width: 100%;
	height: 200px;
}

#myForm div{
	width: 100%;
	margin: 3% 0% 0% 0%;
	padding: 0% 6% 0% 6%;
}

#myForm p{
	width: 100%;
	margin: 3% 0% 1% 0%;
}


@media screen and (max-width: 980px) {
	
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px) {
	
}





